{
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:testcafe/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "AbortController": true
  },
  "plugins": [
    "testcafe"
  ],
  // "parser": "babel-eslint", // extends "@aiqua" had already set parser.
  "root": true
}
